        <footer>
                <div class="container">
                        
                        <div class="row">
                                <div class="foot-logo-cont col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="foot-logo"></div>
                                </div>
                                
                                <ul class="footer-list col-lg-4 col-md-4 col-sm-12 col-12">
                                        <li><a href="/">HOME</a></li>
                                        <li><a href="/about">ABOUT</a></li>
                                        <li><a href="/menu">MENU</a></li>
                                        <li><a href="/catering">CATERING</a></li>
                                        <li><a href="/contact">CONTACT</a></li>
                                </ul>
                                
                                <div class="social-cont col-lg-4 col-md-4 col-sm-12 col-12">
                                        <div class="social-links-cont">
                                                <a href="https://www.facebook.com/Marcs-Fusion-Cafe-963286427056557/" class="social facebook"><i class="fab fa-facebook-f"></i></a>
                                                <a href="https://www.yelp.com/biz/marcs-fusion-cafe-rockford" class="social yelp"><i class="fab fa-yelp"></i></a>
                                                <a href="https://www.tripadvisor.com/Restaurant_Review-g36619-d797955-Reviews-Marc_s_Fusion_Cafe-Rockford_Illinois.html" class="social tripadvisor"><i class="fab fa-tripadvisor"></i></a>
                                        </div>
                                </div>
                        </div>
                </div>
        </footer>
    </body>
</html>