<% include partials/header %>

<div id="about">
    <div class="container">
        <div class="row">
            <div id="about-us" class="sub-section col-lg-4 col-md-6 col-sm-12 col-12">
                <h2 class="section-heading">ABOUT US</h2>
                <div id="about-img-cont">
                    <div id="about-img"></div>
                </div>
                <p class="dark-text">Vestibulum iaculis lacinia est. Proin dictum elementum velit. 
                Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                <p>Aenean nonum hendrerit mauris. Fusce suscipit varius mi. Cum sociis natoque 
                penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. 
                Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. 
                Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. 
                Donec sit amet eros.</p>
            </div>
            <div id="our-history" class="sub-section col-lg-4 col-md-6 col-sm-12 col-12">
                <h2 class="section-heading">OUR HISTORY</h2>
                <div class="hist-list-cont">
                    <ul id="hist-list">
                        <li>
                            <div class="span-cont">
                                <span>1999 -</span>
                            </div>
                            <div class="content-cont">
                                <p>Proin dictum element velit. Fusce euismod consequat ante. 
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="span-cont">
                                <span>2007 -</span>
                            </div>
                            <div class="content-cont">
                                <p>Aliquam congue ferment nisl. Mauris accumsan nulla vel diam. 
                                Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, 
                                aliquet sit amet, euismod in, auctor ut, ligula.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="span-cont">
                                <span>2010 -</span>
                            </div>
                            <div class="content-cont">
                                <p>Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. 
                                Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis unde omnis iste natus.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="span-cont">
                                <span>2013 -</span>
                            </div>
                            <div class="content-cont">
                                <p>Quisque nulla. Vestibulum libero nisl porta vel, scelerisque eget, malesuada at, neque. 
                                Vivamus eget nibh. Etiam cursus leo vel metus.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="features" class="sub-section col-lg-4 col-md-12 col-sm-12 col-12">
                <h2 class="section-heading">FEATURES</h2>
                <p class="dark-text">
                    Tionem ullam corporis suscipit laboriosam nisi ut aliquid ex tempora incidunt ut labore.
                </p>
                <p>
                    Consectetuer adipiscing elit. Pellentesque sed dolor. 
                    Aliquam congue ferment nisl. Mauris accumsan nulla vel diam. 
                    Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. 
                    In pede mi, aliquet sit amet, euismod.
                </p>
                <div id="features-list-cont">
                    <ul id="features-list">
                        <li>
                            <div class="span-cont">
                                <span><i class="fas fa-angle-double-right"></i></span>
                            </div>
                            <div class="content-cont">
                                <a href="#">MORBI NUNC ODIO GRAVIDA AT CURSUS NEC</a>
                            </div>
                        </li>
                        <li>
                            <div class="span-cont">
                                <span><i class="fas fa-angle-double-right"></i></span>
                            </div>
                            <div class="content-cont">
                                <a href="#">TRISTIQUE ORCI AC SEM DUIS ULTRICIES PHARETRA</a>
                            </div>
                        </li>
                        <li>
                            <div class="span-cont">
                                <span><i class="fas fa-angle-double-right"></i></span>
                            </div>
                            <div class="content-cont">
                                <a href="#">ACCUMSAN MALESUADA ORCI DONEC SIT AMET</a>
                            </div>
                        </li>
                        <li>
                            <div class="span-cont">
                                <span><i class="fas fa-angle-double-right"></i></span>
                            </div>
                            <div class="content-cont">
                                <a href="#">IPSUM DOLOR SIT AMET CONSECTETUER</a>
                            </div>
                        </li>
                        <li>
                            <div class="span-cont">
                                <span><i class="fas fa-angle-double-right"></i></span>
                            </div>
                            <div class="content-cont">
                                <a href="#">SED LAOREET ALIQUAM LEO UT TELLUS DOLOR</a>
                            </div>
                        </li>
                        <li>
                            <div class="span-cont">
                                <span><i class="fas fa-angle-double-right"></i></span>
                            </div>
                            <div class="content-cont">
                                <a href="#">EGET ELEMENTUM VEL,CURSUS ELEIFEND</a>
                            </div>
                        </li>
                    </ul>
                    <p> Vestibulum iaculis lacinia est. Proin dictum elementum velit. 
                        Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer 
                        adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. 
                        Mauris.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h2 class="section-heading">OUR STAFF</h2>
            </div>
            <div class="staff col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="image-cont">
                    <div id="staff-1" class="staff-img"></div>
                </div>
                <h4>MARC JOHNSON</h4>
                <p>
                    Fusce euismod consequat ante. Lorem ipsum dolor sit amet 
                    consectetuer adipi scing elit pellentesq sed dolor.
                </p>
            </div>
            <div class="staff col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="image-cont">
                    <div id="staff-2" class="staff-img"></div>
                </div>
                <h4>BRADLEY GROSH</h4>
                <p>
                    Fusce euismod consequat ante. Lorem ipsum dolor sit amet 
                    consectetuer adipi scing elit pellentesq sed dolor.
                </p>
            </div>
            <div class="staff col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="image-cont">
                    <div id="staff-3" class="staff-img"></div>
                </div>
                <h4>JESSICA PRISTON</h4>
                <p>
                    Fusce euismod consequat ante. Lorem ipsum dolor sit amet 
                    consectetuer adipi scing elit pellentesq sed dolor.
                </p>
            </div>
            <div class="staff col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="image-cont">
                    <div id="staff-4" class="staff-img"></div>
                </div>
                <h4>SAM KROMSTAIN</h4>
                <p>
                    Fusce euismod consequat ante. Lorem ipsum dolor sit amet 
                    consectetuer adipi scing elit pellentesq sed dolor.
                </p>
            </div>
        </div>
    </div>
</div>



<% include partials/footer %>