<% include partials/header %>


<div class="slide-show">
  <div class="slide-buttons">
    <button id="btn-one" class="slide-btn"><i class="fas fa-chevron-right"></i></button>
    <button id="btn-two" class="slide-btn"><i class="fas fa-chevron-left"></i></button>
  </div>
  <div id="slide-1" class="slides">
    <div class="slides-info">
      <h5>DELICIOUS SUSHI AND ROLLS</h5>
      <a href="/menu/#sushi">View All</a>
    </div>
  </div>
  <div id="slide-2" class="slides">
    <div class="slides-info">
      <h5>AUTHENTIC ASAIN FOOD</h5>
      <a href="/menu/#asian">View All</a>
    </div>
  </div>
  <div id="slide-3" class="slides">
    <div class="slides-info">
      <h5>AMERICAN FAVORITES</h5>
      <a href="/menu/#western">View All</a>
    </div>
  </div>
  <div id="slide-4" class="slides">
    <div class="slides-info">
      <h5>TASTY DRINKS</h5>
      <a href="/menu/#drinks">View All</a>
    </div>
  </div>
</div>
<section id="deals">
  <div class="container">
    <div class="row">
      <div class="deal col-lg-3 col-md-3 col-sm-6 col-12">
        <h3>KIDS EAT FREE OR 2 COURSES FOR $9.99</h3>
        <a href="#">LINK THAT TELLS YOU MORE ABOUT THE DEAL</a>
      </div>
      <div class="deal col-lg-3 col-md-3 col-sm-6 col-12">
        <h3>CATER YOUR NEXT PARTY WITH</h3>
        <h4>MARC'S FUSION CAFE</h4>
        <a href="#">GET MORE INFO ABOUT CATERING</a>
      </div>
      <div class="deal col-lg-3 col-md-3 col-sm-6 col-12">
        <h3>FOOTBALL GAME DAY SPECIAL</h3>
        <div class="info-section">
          <div class="info-a-cont">
            <a href="#">DOWNLOAD OUR FOOTBALL GAME DAY MENU</a>
          </div>
          <div id="football-image" class="deal-image"></div>
        </div>
      </div>
      <div class="deal col-lg-3 col-md-3 col-sm-6 col-12">
        <h3>25% OFF FOR STUDENTS ALL YEAR!</h3>
        <div class="info-section">
          <div class="info-a-cont">
            <a href="#">DOWNLOAD OUR FOOTBALL GAME DAY MENU</a>
          </div>
          <div id="student-image" class="deal-image"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="general-info">
  <div class="container">
    <div class="row">
      <div class="who-we-are col-lg-4 col-md-7 col-sm-12 col-12">
        <h2 class="w-w-a-h">INFUSE YOUR TASTE BUDS WITH DELICACIES FROM THE EAST AND WEST</h2>
        <p>We offer an opportunity for our costumers to have the best of both worlds.  We offer both 
        Asian food and American food, not to mention our awesome sushi and roll collection.</p>
        <p class="dark-text">
          Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts 
          fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.
        </p>
        
      </div>
      <div class="hours-and-contact col-lg-3 col-md-5 col-sm-12 col-12">
        <div class="hours-cont">
          <p>MON-SAT 11:30AM–1:30PM (LUNCH)</p>
          <p>MON-SAT 5:00PM–8:30PM (DINNER)</p>
        </div>
        <div class="contact-cont">
          <div class="address">
            <p>4133 CHARLES ST,<br> ROCKFORD, ILLINOIS, <br>61108</p>
            <p>EMAIL: <a href="mailto: marcsfusion@yahoo.com">marcsfusion@yahoo.com</a></p>
            <h4><a href="tel: 1-815-713-2563">1-815-713-2563</a></h4>
          </div>
        </div>
      </div>
      <div class="daily-dishes col-lg-5 col-md-12 col-sm-12 col-12">
        <h2 class="w-w-a-h">DAILY DISHES:</h2>
        <div class="second-slide-cont">
          <div class="daily-dishes-slideshow">
            <div class="daily-slides-cont">
              <div class="quad-box-cont box-1">
                <div class="quad-box-child" id="b-c-1-1"></div>
                <div class="quad-box-child" id="b-c-1-2"></div>
                <div class="quad-box-child" id="b-c-1-3"></div>
                <div class="quad-box-child" id="b-c-1-4"></div>
              </div>
              <div class="quad-box-cont box-2">
                <div class="quad-box-child" id="b-c-2-1"></div>
                <div class="quad-box-child" id="b-c-2-2"></div>
                <div class="quad-box-child" id="b-c-2-3"></div>
                <div class="quad-box-child" id="b-c-2-4"></div>
              </div>
              <div class="quad-box-cont box-3">
                <div class="quad-box-child" id="b-c-3-1"></div>
                <div class="quad-box-child" id="b-c-3-2"></div>
                <div class="quad-box-child" id="b-c-3-3"></div>
                <div class="quad-box-child" id="b-c-3-4"></div>
              </div>
              <div class="quad-box-cont box-4">
                <div class="quad-box-child" id="b-c-4-1"></div>
                <div class="quad-box-child" id="b-c-4-2"></div>
                <div class="quad-box-child" id="b-c-4-3"></div>
                <div class="quad-box-child" id="b-c-4-4"></div>
              </div>
            </div>
          </div>
          <div class="daily-dishes-slide-btns">
            <button class="daily-btns" id="daily-right"><i class="fas fa-chevron-right"></i></button>
            <button class="daily-btns" id="daily-left"><i class="fas fa-chevron-left"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<% include partials/footer %>